@import 
url(https://fonts.googleapis.com/css?family=Stalemate|Raleway:400,500);
* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}

body {
  background-color: #BDD8DA;
}

div {
  position:relative;
  z-index: 2;
}


h1 {
  font-family: 'Stalemate', cursive;
  font-weight: 400;
  font-size: 5em;
  text-align: center; 
  margin-bottom: 30px;
  color: #DFEFF0;
}

p {
  text-align: center;
  margin-left: 5%;
}

.quote-box {
  margin: 0 auto;
  width: 800px;
  position: relative;
}

.fa-quote-left{
  position: absolute; 
  float: left; 
  color: #7D9C9F;
  margin-top: -40px;
  margin-left: -20px;
  z-index: 10; 
}

#quoteDisplay {
  position: relative;
  margin: auto;
  padding: 50px;
  padding-left: 20px;
  width: 700px;
  display: inline-block;
  border: none;
  border-radius: 20px;
  background-color: #DFEFF0;
  color: #7D9C9F;
  font-family: 'Raleway', serif; 
  font-weight:400;
  font-size: 1.8em;
  line-height: 35px;
  text-align: center; 
}


.buttons {
  width: 700px;
  margin: auto;
  display: block;
}


.fa-twitter {
  color: #7D9C9F;
  text-align: center; 
  margin: 10px auto;
  margin-left: -20px;
}

.fa-twitter:hover {
  color: #ca6b92;
  text-align: center; 
  margin: 10px auto;
  margin-left: -20px;
}

#tweet-quote:hover {
  border: none;
}

#newQuote {
  float: right;
  height: 40px; 
  background-color: #BDD8DA; 
  border: none; 
  opacity: 1; 
  cursor: pointer; 
  font-size: 1.1em; 
  font-family: 'Raleway', serif; 
  font-weight: 400;
  color: #7D9C9F;
  border-bottom: 3px solid #7D9C9F;
}


#newQuote:hover {
  border-bottom: 3px solid #ca6b92; 
}

#newQuote:focus {
  outline: none;  
}

.main-content {
  min-height: 100%;
  margin-bottom: 25px;
}

.footer {
  text-align: center;
  color: #DFEFF0;
  font-family: Raleway, serif;
  text-decoration: none;
  height: 25px;
  margin-top: 5%; 
}

a {
  color: #DFEFF0; 
  text-decoration: none; 
}

a:hover {
  color: #ca6b92; 
  border-bottom: 2px solid #ca6b92;
}

a:visited {
  color: #DFEFF0; 
}

@media (max-width: 850px) { 

  .quote-box{
    width: 100%
  }
  #quote-container{
    margin: auto;
    width: 500px;
  }
  #quoteDisplay { 
    margin: auto;
    width: 400px;
  }
  .buttons {
    width: 430px; 
    margin: 0 auto;
  }
  #newQuote {
    font-size: .9em;
  }
}


@media (max-width: 550px) { 

  .quote-box{
    width: 100%
  }
  #quote-container{
    margin: auto;
    width: 300px;
  }
  #quoteDisplay { 
    margin: auto;
    width: 250px;
    font-size: 1.5em;
  }
  .buttons {
    width: 250px; 
    margin: 0 auto;
  }
  #newQuote {
    font-size: .8em;
    margin-right: -30px;
  }


}

